@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/dm-sans-v6-latin-500.woff2') format('woff2');
}

@font-face {
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/dm-mono-v5-latin-500.woff2') format('woff2');
}

/*@font-face {*/
/*    font-family: 'Noto Sans JP';*/
/*    font-style: normal;*/
/*    font-weight: 500;*/
/*    font-display: swap;*/
/*    src: url('/fonts/noto-sans-jp-v36-japanese-500.woff2') format('woff2');
/*}*/
