/*.typo-base {*/
/*    @apply text-base;*/
/*}*/

.typo-large {
    @apply text-large-sm;
}

/*.prose-base a {*/
/*    @apply inline-block leading-link-sm underline;*/
/*}*/

.prose-large {
    hyphens: auto;
}

.prose-large a {
    @apply inline-block leading-link-sm border-b-2;
}

.prose-large p,
.prose-large ul,
.prose-large li
{
    margin-bottom: 0.5em;
}

.prose-large li {
    margin-left: 1em;
}

.prose-large li:before {
    content: '—';
    margin-right: 0.2em;
    margin-left: -1em;
}

@screen md {
    /*.typo-base {*/
    /*    @apply text-md tracking-wide;*/
    /*}*/

    .typo-large {
        @apply text-large-md tracking-normal;
    }

    .prose-base a {
        @apply no-underline border-b-2;
    }

    .prose-large a {
        @apply border-b-3 leading-link-md ;
    }
}

