.typo-base {
    @apply text-base;
}

.typo-large {
    @apply text-large;
}

.prose a {
    @apply inline-block leading-link-sm
}

.prose a:after {
    display: inline-block;
    content: "\2198";
}

.prose a[href*="//"]:not([href*="noordermeer.ch"]):after,
.prose a[href*="mailto:"]:after {
    content: "\2197";
}

.prose-base a:hover {
    @apply underline;
}

.prose-large a:hover {
    @apply border-b-2;
}

.prose code {
    @apply font-mono;
}

.prose-large p,
.prose-large ul,
.prose-large li
{
    @apply mb-1/2;
}

.prose-large li {
    margin-left: 1em;
}

.prose-large li:before {
    content: '—';
    margin-right: 0.2em;
    margin-left: -1em;
}

@screen sm {
    .typo-large {
        @apply text-large-sm;
    }
}

@screen md {
    .typo-base {
        @apply text-base-md tracking-wide;
    }

    .typo-large {
        @apply text-large-md tracking-normal;
    }

    .prose-base a:hover {
        @apply no-underline border-b-2;
    }

    .prose-large a:hover {
        @apply border-b-3 leading-link-md ;
    }
}

